.title a{
    font-size: 20px;
}

p.homepage_title {
    font-size: 30px;
    font-weight: 600;
}

p.homepage_subtitle {
    font-size: 20px;
    font-weight: 600;
}

nav.panel.top {
    background-color: black !important;
    opacity: 0.8 !important;
}


img.organizer {
    border-radius: 50%;
    float: left;
    width: 100%;
}

span.organizer_img_container {
    float: left;
    width: 25%;
    padding: 5px;
}

.justifyTextAlign {
    text-align: justify;
}


/* schedule table */
td, th {
    padding: 5px 10px;
}

th {
    font-size: 20px;
}

td.time, th.time {
   width: 20%;
}

td.session, th.session{
    text-align: left;
    width: 80%
}

tr.border-top {
    border-top: 1px solid white;
}
tr.border-bottom {
    border-bottom: 1px solid white;
}

p.organizer-text {
    line-height: 16px;
    font-size: 12px;
}

ul.paper-type {
    padding-left: 15px;
}

ul.paper-type li {
    padding-top: 5px;
}